@import "../../../assets/styles/helpers";

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper .swiper-slide {
    max-height: 600px;
}

.swiper {
    width: 100%;
    height: 100%;
}
