@import "../../../assets/styles/helpers";

.page_break {
    &[isPrinting="true"] {
        width: 100%;
        height: 50px;
    }
}

.resume {
    width: 100%;

    &__content {
        padding: 0 17px;
    }

    &__section {
        &_basics_50 {
            flex-basis: 50%;

            @include xs-mb {
                flex-basis: 100%;
            }
        }

        &_row {
            display: flex;
            flex-wrap: wrap;

            & > .resume__section {
                &:nth-child(1) {
                    @include xs-mb {
                        border-left: 1px solid $color-blue-border;
                    }
                }

                &:nth-child(2) {
                    padding-left: 32px;

                    border-left: 1px solid $color-blue-border;
                }

                @include xs-mb {
                    margin-left: 20px;
                }
            }
        }
    }

    &__section__title {
        display: flex;
    }

    &__title_section {
        margin: 0; //reset H1
        padding: 20px 20px 20px 0;
        font-size: 28px;
        font-weight: 400;
        color: $color-blue;
        flex-basis: 50%;

        @include xs-mb {
            padding-right: 0;
            flex-basis: 100%;
        }

        &:nth-child(2) {
            border-left: 1px solid $color-blue-border;

            @include xs-mb {
                display: none;
            }
        }

        &_border {
            @include xs-mb {
                margin-left: 20px;
                border-left: 1px solid $color-blue-border;
            }
        }

        @include xs-mb {
            text-align: center;
            font-size: 32px;
        }
    }
}

.resume_header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Bitter";
    border-radius: 10px;
    margin-right: 3px;
    background: #147796;

    @include mb-lg {
        font-size: 14px;
        padding: 20px 20px;
    }

    @include xs-mb {
        font-size: 14px;
        padding: 16px 10px;
    }

    @include mb {
        align-items: center;
        justify-content: space-around;

        :nth-child(2) {
            order: 1;
        }

        :nth-child(3) {
            order: 2;
        }
    }

    @include sm-mb {
        flex-wrap: wrap;

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 1;
        }
    }

    &__text {
        @include xs-mb {
            margin: auto;
        }

        font-weight: 400;
        color: #fff;

        padding-right: 13px;
        max-width: 730px;
    }

    &__img {
        display: block;
        max-width: 120px;
        width: 100%;
        height: auto;
        border-radius: 10px;

        margin-right: 20px;

        @include xs-mb {
            display: none;
        }
    }

    &__title {
        font-size: 28px;
        line-height: 1.5em;
        font-weight: 400;
    }

    &__subtitle {
        &_print h2 {
            margin-top: 0;
        }

        max-width: 90%;
        margin-top: 0px;
        line-height: 1.2em;
        font-weight: 400;
        font-size: 18px;
        display: none;

        p {
            margin: 0; //reset
        }

        @include mb {
            display: block;
        }
    }

    &__info {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0 10px;
        display: none;
        line-height: 1.2em;
        font-weight: 400;
        border-left: 1px solid #fff;

        min-width: 220px;

        @include lg {
            display: flex;
        }
    }

    &__email {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        & > span {
            padding-left: 10px;
        }
    }

    &__phone {
        display: flex;
        flex-wrap: wrap;

        & > span {
            padding-left: 10px;
        }
    }
}
