@import "../../../../design-tokens/breakpoints";
@import "../../../../design-tokens/variables";

.skills {
    display: block;
    max-width: 400px;
    margin-bottom: 30px;
    padding-right: 20px;
    overflow: hidden;

    @include mb {
        padding-right: 20px;
        margin: 0 auto 30px;
    }


    @include xs-mb {
        padding-right: 0;
    }
}

.skills__header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}