@import "../../../design-tokens/breakpoints";
@import "../../../design-tokens/variables";

.work {
    position: relative;
    margin: 15px;
    box-shadow: 0 0 4px $color-white;
    border-radius: 10px;
    transition: box-shadow 0.2s linear;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 25px $color-white;
    }

    @include xs-mb {
        max-width: 370px;
        margin: 15px auto;
    }

    &__image {
        position: relative;
        min-width: 299.983px;
        min-height: 234.219px;

        border-radius: 10px 10px 0 0 !important;

        .img {
            background: #000;
        }
    }

    &__content {
        padding: 1rem 0.8rem;
    }
}

.work__cat {
    font-style: 12px;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.06;
    font-weight: 700;
}

.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
}
