$color-white: #fff;
$color-sky: #74D7FF;
$color-blue: #10AEDF;
$color-black: #000;
$color-blue-border: #001aff9d;
$color-gray: #6a696b;
$color-gray-light: #8d8d8e;
$color-green-light: #02d021;
$color-green-light_action: #00ff08;