@import "../../assets/styles/helpers";

.header {
    padding: 1.2rem 15px 0; // 18px

    @include xs-mb {
        position: fixed;
        top: 120px;
        right: -103.2px;
        z-index: 1000;
        padding: 0;
    }
}

.auth_info {
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 20px;
    width: max-content;
    z-index: 2;

    @include xs-mb {
        right: 0;
        margin-left: auto;
    }

    &:hover .auth_info__data {
        opacity: 1;
    }

    &__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    &__data {
        transition: all 0.7s ease-in-out;
        opacity: 0;
        font-size: 10px;
        font-weight: 500;
        color: #fff;

        font-family: "Poppins", sans-serif;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include xs-mb {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 13px 0 13px 3px;
        border: 1px solid #fff;
        border-radius: 25px;
        background: #62abe18a;
        box-shadow: 0px 15px 20px rgba(16, 5, 80, 0.479);
    }
}

.nav__link,
.nav__link_active {
    position: relative;
    font-size: 0.93rem;
    font-weight: 700;
    margin-left: 15px;
    padding: 10px 5px 10px 10px;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        transition: transform 0.3s ease;
        background-color: $color-white;
        transition: all 0.7s ease-in-out;

        @include xs-mb {
            content: none;
        }
    }

    &:before {
        opacity: 0;
        bottom: 0;
        transform: translateX(-100%);
    }

    &:after {
        opacity: 0;
        top: 0;
        transform: translateX(100%);
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: translateX(0);
    }

    &:active {
        opacity: 1;
        transform: translateX(0);
    }

    &_btn {
        padding: 10px;
        transition:
            background-color 0.2s linear,
            0.2s color linear;
        border: 1.5px solid $color-white;
        border-radius: 20px;

        &:before,
        &:after {
            width: 0;
        }

        &:hover {
            color: #000;
            background-color: $color-white;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            transform: translate(0, -7px);
            transition: all 0.7s ease-in-out;
        }

        @include mb {
            &:before,
            &:after {
                width: 0;
            }

            transition: all 1.2s;
            transform: translateX(0);
        }
    }

    @include xs-mb {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
        padding: 10px 5px 10px 40px;
        transform: translateX(0);
        transition: all 1s;

        & > span {
            width: 100px;
            opacity: 0;
            transition: all 1s;
        }

        border-radius: 25px;

        &:hover {
            & > span {
                opacity: 1;
            }

            transform: translateX(-110px);
            background-color: #27618c;
            box-shadow: 4px 3px 4px $color-black;
        }

        &_btn {
            border: none;
        }

        &_btn:hover {
            max-width: 100%;
            color: $color-white;
            background-color: #27618c;
            box-shadow: 4px 3px 4px $color-black;
            transform: translateX(-110px);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.nav__link_active {
    &:before,
    &:after {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav__img {
    display: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;

    @include xs-mb {
        display: block;
    }
}
