@import "../../design-tokens/breakpoints";
@import "../../design-tokens/variables";

//* BACKGROUND *//
$bg: rgba(255, 255, 255, 0.5);
$bg_action: rgba(255, 255, 255, 0.20);
$bg_error: #EC1C24;
$bg_error_action: rgb(236, 28, 36, 0.5);
$bg_disabled: rgba(255, 255, 255, 0.5);
$bg_selected_text: #068ADE;

//* BORDER *//
$border: rgba(255, 255, 255, 0.40);
$border_action: rgba(255, 255, 255, 0.20);
$border_error: #D06679;
$border_disabled: rgba(255, 255, 255, 0.3);

//* TEXT *//
$color_input: rgba(255, 255, 255, 0.70);
$color_input_error: #D06679;
$color_input_disabled: rgba(255, 255, 255, 0.2);

//* LABEL AUTH FORM *//
$color_label_auth: rgba(255, 255, 255, 0.90);
$bg_label_auth: #068ADE;
$bg_label_auth_error: #D06679;
$bg_label_auth_disabled: #777777;


.form {
    display: flex;
    flex-basis: 292xp;
    flex-direction: column;

    .form_control {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        height: 40px;
        padding: 15px 0 0 0;

        &:hover {
            border-color: $color-white-20;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        border: 1px solid $color-white-40;

        &.is_invalid {}

        &__input {
            font-size: 14px;
            font-weight: bold;
            color: $color_input;
        }

        &__label {
            position: absolute;
            display: block;
            left: 16px;
            top: -7px;
            height: 14px;
            min-width: 38px;
            background: $bg_label_auth;
        }
    }


    .toggle_password {
        display: flex;

        &__text {
            font-size: 14px;
            font-weight: bold;
            color: $color_input;
        }

        &__button {}
    }
}