@import "../../../../design-tokens/breakpoints";
@import "../../../../design-tokens/variables";

.skills {
    display: block;
    max-width: 400px;
    margin-bottom: 30px;
    padding-right: 20px;
    overflow: hidden;

    @include mb {
        padding-right: 20px;
        margin: 0 auto 30px;
    }


    @include xs-mb {
        padding-right: 0;
    }
}

.skills__header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}

.skillsItem {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid $color-white;
    z-index: 2;
}

.skills__title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 2px 0 2px 5px;
    z-index: 3;
}

.applyTech {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    background-color: #5322959e;
    transition: width 5s ease-in-out;
}
