@import "../../assets/styles/helpers";

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;

    @include xs-lg {
        overflow-y: scroll;
        padding-top: 60px;
    }

    &__header {
        margin-bottom: 20px;
        text-align: center;

        @include xs-lg {
            margin-bottom: 50px;
        }
    }

    &__close {
        position: absolute;
        z-index: 1;
        top: 30px;
        right: 10px;

        width: 24px;
        height: 29px;

        border: 0;
        cursor: pointer;
        background: none;

        transition: transform 0.2s linear;

        &:hover {
            transform: translateY(-3px);
        }

        @include xs-lg {
            top: 20px;
            right: 20px;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: linear-gradient(to left top, #000000, #000, #008793, #000000, #000) no-repeat center center fixed;
        background-size: 100% 100%;

        padding: 20px 40px 40px;
        border-radius: 20px;
        border: 1px solid $color-white;
        min-height: 500px;

        @include xs-lg {
            padding: 20px;
            flex-direction: column;
            align-items: center;
        }

        @include mb-lg {
            padding: 40px;
        }
    }
}

.modal {
    &__title {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        color: $color-blue;
        font-weight: 700;
        text-transform: uppercase;
    }
}
