@import "../../helpers/../design-tokens/breakpoints";
@import "../../helpers/../design-tokens/variables";

.hard_skills {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 40px;

    @media xs-mb {
        flex-basis: 50%;
        margin: 0 auto 30px;
        padding-left: 40px;
    }
}