@import "../../helpers/../design-tokens/breakpoints";
@import "../../helpers/../design-tokens/variables";

.hard_skills {
    display: block;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 30px;
    padding-right: 30px;

    @media sm-mb {

        padding-right: 20px;
        margin: 0 auto 30px;
    }

    @media xs-mb {
        padding-right: 0;
    }
}