@import "../../helpers/../design-tokens/breakpoints";
@import "../../helpers/../design-tokens/variables";


.languages_skills {
    padding-left: 20px;

    &__row {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    &__title {
        color: $color-green-light;
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
    }

    &__degree {
        font-size: 16px;
        font-style: italic;
        color: white;
        padding-top: 5px;
        padding-left: 10px;
    }
}