$color-white: #fff;
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-sky: #74d7ff;
$color-red: #f44336;
$color-blue: #10aedf;
$color-black: #000;
$color-blue-border: #001aff9d;
$color-gray: #6a696b;
$color-gray-light: #8d8d8e;
$color-green-light: #02d021;
$color-green-light_action: #00ff08;
