@import "../../../../design-tokens/breakpoints";
@import "../../../../design-tokens/variables";

.skills {
    &[mixin="works"] {
        margin: 0;
        padding: 0;
    }
}

.skills__header {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}
