@import "../../styles/helper/_variable_input";

:root {
    --datepicker_popup_bg: #333333;
    --datapicker_border_color: transparent;
    --bg_box_shadow_popup: rgba(0, 0, 0, 0.3);
    --datapicker_header_bg: #333333;
    --datapicker_header_border_color: rgba(255, 255, 255, 0.2);
}

[type-theme="light"] {
    --datepicker_popup_bg: #ffffff;
    --datapicker_border_color: rgba(255, 255, 255.03);
    --bg_box_shadow_popup: rgba(0, 0, 0, 0.3);
    --datapicker_header_bg: #ffffff;
    --datapicker_header_border_color: transparent;
}

.data_piker {
    display: flex;

    .form_control {
        display: flex;
        align-items: center;
        min-width: 225px;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &__icon {
            svg {
                fill: var(--icon_fill);
            }
        }

        .react-datepicker-wrapper {
            margin-right: 15px;
        }
    }

    .popup_data_piker {
        z-index: 2;

        &__action_button {
            z-index: 1;
            margin-right: 4px;

            &::after {
                padding-top: 4px;
                width: 16px;
                font-size: 22px;
                background: transparent;
            }
        }

        .react-datepicker {
            border: 1px solid var(--datapicker_border_color);
            background: var(--datepicker_popup_bg);
            box-shadow: 0 2px 8px var(--bg_box_shadow_popup);

            &__header {
                background: var(--datapicker_header_bg);
                border-bottom: 1px solid var(--datapicker_header_border_color);

                .react-datepicker__current-month {
                    color: var(--color_input);
                }
            }

            &-time {
                color: var(--color_input);

                &__input {
                    color: var(--color_input);

                    &::placeholder {
                        color: var(--color_input);
                    }

                    &::-webkit-calendar-picker-indicator {
                        cursor: pointer;
                        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
                    }
                }

                &__caption {
                    color: var(--color_input);
                }
            }

            &__day {
                &--selected {
                    background: var(--option_selected);
                    color: #ffffff;
                }

                color: var(--color_input);

                &--keyboard-selected {
                    background: var(--option_selected);
                }

                &--in-range {
                    &:not(.react-datepicker__day--in-selecting-range) {
                        background: var(--option_selected);
                        opacity: 0.2;
                    }
                }

                &:hover {
                    background: var(--option_selected);
                }

                &-name {
                    color: var(--color_input);
                }
            }

            border: none;
            font-size: 14px;
            font-weight: 400;

            &__triangle {
                display: none;
            }
        }
    }
}
