@import "../../design-tokens/breakpoints";
@import "../../design-tokens/variables";

.inner {
    display: flex;
    position: relative;
    align-items: center;
}

.link {
    .btn {
        min-width: 196px;

        @include lg {
            width: 100%;
            margin-top: 20px;

            & + .btn {
                margin-left: 0;
            }
        }
    }
}

.subtitle {
    font-size: 2.13rem;
    font-weight: 200;
    color: $color-white;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;

    @include xs-mb {
        font-size: 1.8rem;
    }
}

.text {
    font-size: 1.2rem;
    margin-bottom: 25px;
    opacity: 70%;
}

.social {
    display: flex;
    margin-bottom: 42px;
}

.social img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    transition: transform .2s linear;
    text-decoration: none;

    &:hover {
        transform: translateY(-5px);
    }
}
