@import "../../../../assets/styles/helpers";

.hard_skills {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 40px;

    @include sm-mb {
        max-width: 100%;
        flex-basis: 100%;
        padding-left: 52px;
        padding-right: 52px;
    }
}
