@import "../../../../assets/styles/helpers";

.languages_skills {
    padding-left: 20px;

    &__row {
        position: relative;

        &:not(:last-child) {
            padding-bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            top: 6px;
            left: -57px;
            background: #02d021;
            border-radius: 50%;
        }
    }

    &__title {
        color: $color-green-light;
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
    }

    &__degree {
        font-size: 16px;
        font-style: italic;
        color: white;
        padding-top: 5px;
        padding-left: 10px;
    }
}
