@import-normalize;

@import "./design-tokens/breakpoints";
@import "./design-tokens/variables";

body {
    font-size: 1rem;
    margin: 0;
    color: #fff;
    border: 1px solid #fff;
    background: linear-gradient(to right top, #051937, #000, #008793, #bf0000, #f00);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px; // 15px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
