@import "../../../assets/styles/helpers";

.skills {
    &[mixin="works"] {
        margin: 0;
        padding: 0;
    }
}

.skills__header {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}

.skills__group {
}
